/** Generic Styles ---------------------------------------------- **/
body{
  margin: 0; padding: 0;
  background-color: black;
}

a{
  text-decoration: none;
  color: orange;
  /*how to change link color after visitng and while hovering*/
}

a:hover{
  color: red;
}

a:active{
  color: red;
}

p{
  margin: 0em 1em 1em 1em;
  color: white;
}

h6{
  color: white;
}

/** Main Styles ------------------------------------------------- **/

#main{
  margin-bottom: 1.5em; padding-top: 1px;
  background: black;
  text-align: center;
}

#main h1{
  float: none;
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 50px;
  padding: 1em;
  color: white;
  margin-right: 4em;
  margin-top: 1em;
}

#main img{
  align: center;
  width: 25%;
  border: none;
  padding: 1em 1em 1em 2em;
}

#navlinks{
  text-align: center;
  margin: 0;
  padding: 0.5em 3em;
  background: black;
  color: red;
  font-size: 15px;
  list-style: none;
  border-bottom-color: red;
  border-bottom-style: dotted;
  border-top-color: red;
  border-top-style: dotted;
}

#navlinks li{
  display: inline;
  margin-right: 0.5em;
  padding-right: 0.75em;
  border-right: 1px solid #99C;
  font-weight: bold;
}

#navlinks li.last{
  border-right: 0;
}

#navlinks a{

}

img#head{
  float: left;
  padding: 10px 10px 10px 0;
}

/** Content ----------------------------------------------- **/

#content{
  text-align: center;
  /*margin-left: 3em;
  margin-top: 1em;*/
}

#content img{
  margin-right: 0;
  padding: 0;
  padding-top: 0;
}

#content h1{
  /*float: none;*/
  text-align: center;
  font-family: cursive;
  font-size: 2em;
  /*margin: 10 4em 1.25em 0em;*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
}

/** Footer Style ---------------------------------------- **/

#footer {
  clear: both;
  padding: 1em 1em;
  border-top-style: dotted;
  border-top-color: red;
}

#footer p {
  margin: 1em 0em 1em 0em;
  width: 100%
  color: white;
}
